<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Effects controller</title>

		<script type="text/javascript" src="/controls.js"></script>

		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<%= javascript_script_tag "js/lib/reconnecting-websocket.js" %>
		<%= javascript_script_tag "js/jquery.js" %>
		<%= javascript_script_tag "js/jquery-ui.min.js" %>
		<%= javascript_script_tag "js/bootstrap.min.js" %>
		<%= javascript_script_tag "js/knockout.js" %>
		<%= javascript_script_tag "js/simple_picker.js" %>
		<%= javascript_script_tag "js/app.js" %>
	</head>
	
	<body>
		<div class="container">
			<div class="row">
				<%= yield %>
			</div>
		</div>
	</body>
</html>
